/* font-family: 'Roboto', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 header {
   position: relative;
   background-color: #29a6dc;
    height: 100vh;
 }

 header > * {
   position: absolute;
 }

 header img {
   height: 50%;
   bottom: 0;
   right: 0;
 }

 header div.welcome {
   top: 7%;
   left: 5%;
   right: 5%;
   text-align: center;
   font-family:'Saira Condensed';
   font-weight: bold;
   font-size: 40px;
   color: white;
   text-transform: uppercase;
 }
 
 header p {
   text-align: center;
   font-family:'Saira Condensed';
   font-weight: bold;
   font-size: 40px;
   color: white;
   text-transform: uppercase;
 }

 header h1 {
   margin-top: 20px;
   text-align: center;
   font-family:'Saira Condensed';
   font-weight: bold;
   font-size: 20px;
   color: white;
   text-transform: uppercase;
 }
 header h2 {
   font-weight: 400;
   font-size: 20px;
   font-weight: normal;
 }
 header button {
   font-family: 'Saira';
   font-weight: 300;
   line-height: 32px;
   padding: 0 20px;
   text-transform: uppercase;
   color: white;
   background-color: transparent;
   font-size: 12px;
   border: 2px solid white;
 }

 @media (orientation: landscape) {
   header img {
      height: 80%;
      bottom: 0;
      right: -5%;
    }
    header div.welcome {
      top:15%;
      left: 5%;
      right: 48%;
    }
    header button {
      margin-top: 10px;
    }
 }

 section {
   min-height: 100vh;
 }